@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;700&family=Jost:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #171717;
  color: #ffffff;
  background-image: url("./images/bg-stars.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 100%;
  font-family: "Exo 2", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
.logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-transform: capitalize;
}

hr {
  margin: 1rem 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.hero h1 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

input[type="search"],
input[type="search"]::placeholder {
  border: none;
  background: rgb(55, 55, 55);
  margin: 0;
  padding: 7px 8px;
  font-size: 2rem;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
}

.all-planets-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 5rem;
  flex-wrap: wrap;
}

.planet-container {
  display: flex;
  flex-direction: column;
}
.planet-icon {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 27, 27, 0.724);
  border-radius: 8px;
  margin: 10% auto 10%;
  padding: 1.5rem;
  border: 3px solid #4b4646;
  width: 70vw;
}
.hide {
  color: #d8d8d8;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#not-found {
  display: none;
  padding: 10rem;
  border: 1px solid rgba(255, 0, 0, 0.74);
}

.navigation-buttons-container {
  align-self: center;
}

.navigation-buttons {
  display: flex;
  align-items: center;
}
.navigation-button {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

.small-img {
  width: 2rem;
}

.moons {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.moons li {
  flex: 1 0 50%;
  min-width: 0;
  font-size: 1.2rem;
}

.planet-container {
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  animation: orbit 10s linear infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0) translateX(75px) rotate(0);
  }

  100% {
    transform: rotate(180deg) translateX(75px) rotate(-180deg);
  }
}
